@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/* header */
.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9;
  transition: 0.3;
}
.landing .on {
  opacity: 0;
  visibility: hidden;
}

header {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
header .header-container {
  background-color: #fff;
  transition: 0.3s;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  /* active보다 기본에 들어가있는게 렉이 없어보임*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .header-container.active {
  height: 80px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
}
header .header-container a {
  padding: 0 14.5px;
  font-size: 19px;
  position: relative;
  width: 100%;
  height: 100%;
}
header .header-container h1 {
  width: 82px;
  height: 24px;
  height: 50px;
  background: url(../images//lush-logo-black.png) no-repeat;
  background-position: center;
}
header .header-container h1 a {
  display: block;
  height: 24px;
}
header .header-container .left-nav {
  margin: 0 auto 0 0;
}
header .header-container .left-nav a:first-child {
  position: relative;
}
header .header-container .left-nav a:first-child::before {
  content: "fresh handmade";
  text-transform: uppercase;
  position: absolute;
  font-size: 10px;
  top: -20px;
}
header .header-container .right-nav {
  margin-right: 25px;
  font-weight: 500;
}
header .header-container .right-nav a:last-child {
  padding: 8px 12px;
  font-size: 17px;
}
header .header-container .gnb {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 120px;
  left: 0;
  background: #fff;
  transition: 0.5s;
}
header .header-container .hamburger {
  display: none;
  transition: 0.2s;
  width: 25px;
  height: 25px;
}
header .header-container .hamburger span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #000;
}
header .header-container .hamburger.active {
  transform: rotate(90deg);
  transform-origin: center;
}
header .header-container .hamburger.active span {
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}
header .header-container .hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
header .header-container .hamburger.active span:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -3px);
}
header .header-container .hamburger.active ~ .gnb {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 130px;
}
header .header-container .hamburger.active ~ .gnb a {
  display: block;
  margin: 25px 55px;
  width: fit-content;
  height: unset;
}
header .header-container .hamburger.active ~ .gnb a:last-child {
  padding: 8px 12px;
  font-size: 17px;
}

.ani-btn {
  background-color: black;
  border-color: black;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
}
.ani-btn:hover {
  animation: pulse 1s ease-in infinite;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 43%, transparent 50%) 0 0/1em 1em, radial-gradient(circle, rgba(255, 255, 255, 0.5) 43%, transparent 50%) 0.5em 0.5em/2em 2em;
  background-color: black;
}

.underline-action {
  background-image: linear-gradient(transparent calc(100% - 2.5px), #000 2.5px);
  padding-bottom: 6px;
  background-size: 0%;
  transition: all 500ms cubic-bezier(0.23, 0.5, 0.32, 1);
  background-repeat: no-repeat;
}
.underline-action:hover {
  background-size: 100%;
}

/* main visual */
.main-vis {
  background-color: #fff;
  color: white;
  height: 100vh;
}
.main-vis .swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-vis .swiper-container .swiper-slide {
  position: relative;
  overflow: hidden;
}
.main-vis .swiper-container .swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  width: 100%;
  height: 100%;
}
.main-vis .swiper-container .swiper-slide img, .main-vis .swiper-container .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-vis .swiper-container .swiper-slide .txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}
.main-vis .swiper-container .swiper-slide .txt-wrap h2 {
  color: white;
  font-size: 58px;
  line-height: 1.3;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-family: "Sriracha", cursive;
  opacity: 0;
  transform: translateY(150px);
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
.main-vis .swiper-container .swiper-slide .txt-wrap p {
  font-family: initial;
  font-size: 20px;
  line-height: 1.5em;
  display: block;
  margin: 20px auto;
  opacity: 0;
  transform: translateY(150px);
  transition: transform 2s, opacity 2s;
  transition-delay: 0.5s;
}
.main-vis .swiper-container .swiper-slide .txt-wrap a {
  display: inline-block;
  background: #fff;
  border: 2px solid white;
  padding: 10px 20px;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  opacity: 0;
  font-size: 14px;
  transform: translateY(150px);
  transition: transform 2.5s, opacity 2.5s;
  transition-delay: 0.5s;
}
.main-vis .swiper-container .swiper-slide .txt-wrap a:hover {
  transition: 0.5s;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}
.main-vis .swiper-container .swiper-slide.swiper-slide-active h2, .main-vis .swiper-container .swiper-slide.swiper-slide-active p, .main-vis .swiper-container .swiper-slide.swiper-slide-active a {
  transform: translateY(0%);
  opacity: 1;
}
.main-vis .swiper-button-prev {
  left: 35px;
}
.main-vis .swiper-button-next {
  right: 35px;
}
.main-vis .swiper-button-prev,
.main-vis .swiper-button-next {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  backdrop-filter: blur(6px);
}
.main-vis .swiper-button-prev:hover,
.main-vis .swiper-button-next:hover {
  background-color: #000;
}
.main-vis .swiper-button-prev:hover:after,
.main-vis .swiper-button-next:hover:after {
  color: #fff;
}
.main-vis .swiper-button-prev:after,
.main-vis .swiper-button-next:after {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

/* 3단 섹션 */
section:nth-of-type(2) {
  height: 100%;
  overflow: hidden;
}
section:nth-of-type(2) > p {
  padding: 80px;
  font-size: 46px;
  text-align: center;
  font-weight: 500;
}
section:nth-of-type(2) > p span {
  padding-top: 50px;
  display: block;
  font-size: 20px;
  line-height: 1.3;
  color: #414141;
  font-weight: normal;
}
section:nth-of-type(2) .cards {
  width: 1200px;
  margin: auto;
  padding: 50px 25px;
  padding: 50px 0;
}
section:nth-of-type(2) .cards .txt-wrap {
  padding: 20px 0;
}
section:nth-of-type(2) .cards .txt-wrap strong {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}
section:nth-of-type(2) .cards .txt-wrap p {
  font-size: 20px;
  text-align: left;
}
section:nth-of-type(2) .cards .card {
  float: left;
  width: 370px;
}
section:nth-of-type(2) .cards .card .img-container {
  width: 370px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
section:nth-of-type(2) .cards .card .img-container .image-section {
  width: inherit;
  height: inherit;
}
section:nth-of-type(2) .cards .card .img-container:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
section:nth-of-type(2) .cards .card .img-container .more {
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  transition: 0.5s 0.3s;
  opacity: 0;
  visibility: hidden;
}
section:nth-of-type(2) .cards .card:nth-child(1) .img-container .image-section, section:nth-of-type(2) .cards .card:nth-child(2) .img-container .image-section, section:nth-of-type(2) .cards .card:nth-child(3) .img-container .image-section {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: 0.5s;
}
section:nth-of-type(2) .cards .card:nth-child(1) .img-container .image-section:hover, section:nth-of-type(2) .cards .card:nth-child(2) .img-container .image-section:hover, section:nth-of-type(2) .cards .card:nth-child(3) .img-container .image-section:hover {
  transform: scale(1.1);
}
section:nth-of-type(2) .cards .card:nth-child(1) .img-container .image-section {
  background-image: url(../images/ethical-buying.jpg);
}
section:nth-of-type(2) .cards .card:nth-child(2) .img-container .image-section {
  background-image: url(../images/lush_made_in.jpg);
}
section:nth-of-type(2) .cards .card:nth-child(3) .img-container .image-section {
  background-image: url(../images/blueberries.jpg);
}
section:nth-of-type(2) .cards .card:hover .img-container:after {
  visibility: visible;
  opacity: 1;
}
section:nth-of-type(2) .cards .card:hover .img-container .image-section {
  transform: scale(1.1);
}
section:nth-of-type(2) .cards .card:hover .more {
  transform: translate(-50%, -50%) rotate(180deg);
  opacity: 1;
  visibility: visible;
}
section:nth-of-type(2) .cards .card:nth-child(2) {
  margin: 0 20px;
}

/* 2단 */
section:nth-of-type(3) {
  width: 1200px;
  margin: auto;
}
section:nth-of-type(3) .flex-container {
  padding: 30px 0;
}
section:nth-of-type(3) .flex-container .left {
  float: left;
}
section:nth-of-type(3) .flex-container .right {
  float: right;
}
section:nth-of-type(3) .flex-container .img-container {
  width: 50%;
  overflow: hidden;
}
section:nth-of-type(3) .flex-container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}
section:nth-of-type(3) .txt-wrap {
  width: 50%;
  padding: 0 30px;
}
section:nth-of-type(3) h2 {
  font-size: 44px;
  font-weight: bold;
}
section:nth-of-type(3) p {
  font-size: 16px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.4;
}

/* best seller */
section:nth-of-type(4) {
  height: 800px;
  width: 100%;
}
section:nth-of-type(4) h3 {
  text-align: center;
  margin-top: 79px;
  margin-bottom: 70px;
  font-size: 44px;
  font-family: "Sriracha", cursive;
}
section:nth-of-type(4) .swiper-container {
  max-width: 1320px;
  margin: 0 auto;
}
section:nth-of-type(4) .swiper-container .swiper-slide {
  padding: 20px;
  height: 500px;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container {
  margin: 0 auto;
  width: 293px;
  height: 400px;
  transition: 0.3s;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container button {
  border: 1px solid black;
  background-color: transparent;
  padding: 12px 30px;
  position: absolute;
  bottom: 20%;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item img {
  padding: 0 47px;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain {
  padding: 0 10px;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain > p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain > span {
  font-size: 15px;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain .star {
  font-family: "Potta One", cursive;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain .star span:last-child {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  line-height: 24px;
  vertical-align: middle;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain .capacity {
  margin: 5px 0;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container .item .item-explain .capacity span {
  margin-right: 3px;
}
section:nth-of-type(4) .swiper-container .swiper-slide .container.on {
  transform: scale(0.9);
}
section:nth-of-type(4) .swiper-container .best-prev,
section:nth-of-type(4) .swiper-container .best-next {
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
section:nth-of-type(4) .swiper-container .swiper-button-disabled {
  display: none;
}
section:nth-of-type(4) .swiper-container .best-prev {
  z-index: 1;
  left: 0;
  background-image: url(../images/arrow-left.png);
  background-size: cover;
}
section:nth-of-type(4) .swiper-container .best-next {
  z-index: 1;
  right: 0;
  background-image: url(../images/arrow-right.png);
  background-size: cover;
}
section:nth-of-type(4) .swiper-container .swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  border: 1px solid black;
}
section:nth-of-type(4) .swiper-container .swiper-pagination-bullet-active {
  background-color: #000;
}

/* 3 section boxes */
section:nth-of-type(5) .group:first-child {
  width: 100%;
  height: 900px;
  position: relative;
}
section:nth-of-type(5) .group:first-child .explain-container {
  position: absolute;
  height: inherit;
  display: table;
}
section:nth-of-type(5) .group:first-child .explain-container .explain {
  display: table-cell;
  vertical-align: middle;
  padding: 0 60px;
}
section:nth-of-type(5) .group:first-child .explain-container .explain a {
  position: absolute;
  right: 60px;
  margin-top: 20px;
}
section:nth-of-type(5) .group:first-child .explain-container span, section:nth-of-type(5) .group:first-child .explain-container a {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 30px;
}
section:nth-of-type(5) .group:first-child .explain-container h3, section:nth-of-type(5) .group:first-child .explain-container p {
  color: white;
}
section:nth-of-type(5) .group:first-child .explain-container h3 {
  font-size: 35px;
  line-height: 1.3;
}
section:nth-of-type(5) .group:first-child .explain-container p {
  margin-top: 30px;
  line-height: 1.4;
}
section:nth-of-type(5) .first, section:nth-of-type(5) .second, section:nth-of-type(5) .third {
  background-size: cover;
  width: 50%;
  position: relative;
}
section:nth-of-type(5) .first:before, section:nth-of-type(5) .second:before, section:nth-of-type(5) .third:before {
  content: "";
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.4;
}
section:nth-of-type(5) .first:hover:before, section:nth-of-type(5) .second:hover:before, section:nth-of-type(5) .third:hover:before {
  opacity: 0.6;
}
section:nth-of-type(5) .first {
  background: url(../images/lush-animal.jpg) no-repeat;
  background-size: cover;
  float: left;
  height: inherit;
}
section:nth-of-type(5) .second {
  background: url(../images/freshest-cosmetics.jpg) no-repeat;
  float: right;
  height: 450px;
  background-size: cover;
}
section:nth-of-type(5) .third {
  background: url(../images/March-images.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  float: right;
}
section:nth-of-type(5) .group:last-child {
  width: 100%;
  height: 750px;
  display: table;
  background: url(../images/perfumelibrary02_134907.jpg);
}
section:nth-of-type(5) .group:last-child > div {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  display: table-cell;
  vertical-align: middle;
}
section:nth-of-type(5) .group:last-child h4 {
  color: #fff;
  font-size: 30px;
  margin: 25px auto;
  max-width: 900px;
  font-family: "Sriracha", cursive;
}
section:nth-of-type(5) .group:last-child h4 span {
  font-family: initial;
  display: block;
  font-size: 20px;
}
section:nth-of-type(5) .group:last-child .items-container {
  display: flex;
  justify-content: center;
}
section:nth-of-type(5) .group:last-child .items-container .item {
  padding: 35px;
  margin: 0 20px;
  width: 280px;
  height: 310px;
  border-radius: 5%;
  color: #fff;
  background-color: #598383;
  cursor: pointer;
}
section:nth-of-type(5) .group:last-child .items-container .item > span {
  display: inline-block;
  margin-bottom: 60px;
  font-family: "Sriracha", cursive;
  text-align: center;
  line-height: 1em;
  position: relative;
  border-top: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}
section:nth-of-type(5) .group:last-child .items-container .item p {
  font-size: 23px;
  word-break: break-all;
}
section:nth-of-type(5) .group:last-child .items-container .item p span {
  text-transform: uppercase;
  display: block;
  color: #FFC107;
  font-size: 16px;
  padding: 2px 10px;
}
section:nth-of-type(5) .group:last-child .items-container .item:nth-child(1) {
  background-image: url(../images/vegan_perfumes_all_2019_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
section:nth-of-type(5) .group:last-child .items-container .item:nth-child(2) {
  background-image: url(../images/massage_.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section:nth-of-type(5) .group:last-child .items-container .item:nth-child(3) {
  background-image: url(../images/sleeping_giant_bombshell_bath_bomb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Our Partners */
section:nth-of-type(6) {
  height: 60vh;
  background-image: url(../images/dotted.png);
  background-position: 50% 50%;
}
section:nth-of-type(6) h2 {
  padding-top: 10vh;
  padding-bottom: 40px;
  text-align: center;
  font-size: 45px;
  margin: 0;
  font-family: "Sriracha", cursive;
}
section:nth-of-type(6) .swiper-container .swiper-slide {
  padding: 30px;
}
section:nth-of-type(6) .swiper-container .swiper-slide .container {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  height: 250px;
  position: relative;
  border-radius: 5px;
}
section:nth-of-type(6) .swiper-container .swiper-slide .container .img-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
section:nth-of-type(6) .swiper-container .swiper-slide .container .img-container .img-section {
  width: 100%;
  height: 100%;
}
section:nth-of-type(6) .swiper-container .swiper-slide .container .img-container img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section:nth-of-type(6) .swiper-container .swiper-slide .container p {
  position: absolute;
  color: white;
  top: 40%;
  font-size: 35px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

/* instagram */
section:nth-of-type(7) {
  display: table;
  width: 100%;
  height: 610px;
}
section:nth-of-type(7) > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
section:nth-of-type(7) > div .instagram-pictures {
  display: flex;
  justify-content: center;
}
section:nth-of-type(7) > div .instagram-pictures .picture {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: 230px;
  height: 230px;
  margin: 10px;
}

/* footer */
footer {
  width: 100%;
  height: 330px;
}
footer .footer-top {
  width: inherit;
  height: 250px;
  margin: 0 auto;
}
footer .footer-top > div {
  max-width: 1250px;
  margin: 0 auto;
}
footer .footer-top > div .subscription {
  width: 60%;
  height: inherit;
  box-sizing: border-box;
  float: left;
  padding: 10px 20px;
}
footer .footer-top > div .subscription p {
  font-size: 34px;
  margin: 30px 0;
}
footer .footer-top > div .subscription form {
  position: relative;
  padding-right: 20px;
  max-width: 500px;
}
footer .footer-top > div .subscription form input[type=email] {
  width: 100%;
  padding: 10px;
  outline: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}
footer .footer-top > div .subscription form input[type=email]::placeholder {
  font-size: 16px;
}
footer .footer-top > div .subscription form button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 10px;
  right: 0;
}
footer .footer-top > div .subscription form button i {
  font-size: 20px;
}
footer .footer-top .links {
  width: 40%;
  height: inherit;
  box-sizing: border-box;
  float: right;
}
footer .footer-top .links a {
  display: block;
  line-height: 35px;
  font-size: 17px;
}
footer .footer-top .links div:first-child {
  float: left;
  width: 50%;
  height: inherit;
  padding: 20px 10px;
}
footer .footer-top .links div:last-child {
  padding: 20px 10px;
  width: 50%;
  float: right;
  height: inherit;
}
footer .footer-bottom {
  border-top: 1px solid #d3cece;
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
}
footer .footer-bottom > span {
  width: 50%;
}
footer .footer-bottom .sns {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
footer .footer-bottom .sns .links a {
  font-size: 16px;
  display: inline-block;
  margin: 0 8px;
}

/* animation */
@keyframes showingFromRight {
  50% {
    transform: translate3d(10%, 0, 0);
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes showingFromLeft {
  50% {
    transform: translate3d(-10%, 0, 0);
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}
@media (max-width: 1024px) {
  header .left-nav,
header .right-nav {
    display: none;
  }
  header .header-container {
    position: relative;
  }
  header .header-container .hamburger {
    display: block;
    position: absolute;
    right: 55px;
    top: 35%;
  }
  header .header-container .hamburger span {
    position: absolute;
  }
  header .header-container .hamburger span:nth-child(1) {
    top: 25%;
    left: 0;
  }
  header .header-container .hamburger span:nth-child(2) {
    bottom: 25%;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
