body{
    font-family: 'Rubik', sans-serif;
}
/* header */

header{
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    .header-container{
        // min-width: 1250px;
        background-color: #fff;
        transition: 0.3s;
        height: 120px;
        display: flex;
        align-items: center;
        padding: 2rem 2rem;
        &.active{
            position: fixed;
            top: 0;
            left: 0;
            height: 80px;
            right: 0;
            z-index:1;
        }
        a{
            padding: 0 14.5px;
            font-size: 19px;
            position: relative;
            width:100%;
            height:100%;
        }
        .logo{
            margin:0 45px;
            font-size: 30px;
            font-weight: 500;
        }
        .left-nav{
            margin: 0 auto 0 0;
            a:first-child{
            position: relative;
            &::before{
                content: 'fresh handmade';
                text-transform: uppercase;
                position: absolute;
                font-size: 10px;
                top: -20px;
            }
            }
        }
    
        .right-nav{
            margin-right: 25px;
            a:last-child{
                padding: 8px 12px;
                font-size: 17px;
            }
    }

    .menu{
        display:none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 120px;
        left: 0;
        background: #fff;
        transition:0.5s;
    }

    .hamburger{
        display:none;
        transition: 0.2s;
        width: 25px;
        height: 25px;
        span{
            display: inline-block;
            width: 100%;
            height: 3px;
            background-color: #000;
        }
    &.active{
        transform: rotate(90deg);
        transform-origin:center;
        span{
            transition-delay: 0.1s;
            transition-duration: 0.3s;
            &:nth-child(1){
                transform: rotate(45deg) translate(4px, 4px);
            }
            &:nth-child(2){
                transform: rotate(-45deg) translate(3px, -3px);
            }
        }
        ~.menu{
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            padding-top: 130px;
            a{
                display: block;
                margin: 25px 55px;
                width: fit-content;
                height: unset;
                &:last-child{
                    padding: 8px 12px;
                    font-size: 17px;
                }
            }
        }


    }
    }

 
    }

}


.ani-btn{
    background-color: black;
    border-color: black;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    &:hover{
        animation: pulse 1s ease-in infinite;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 43%, transparent 50%) 0 0/1em 1em, radial-gradient(circle, rgba(255, 255, 255, 0.5) 43%, transparent 50%) 0.5em 0.5em/2em 2em;
        background-color: black;
    }
}

.underline-action{
    background-image:linear-gradient( transparent calc(100% - 2.5px), #000 2.5px);
    padding-bottom: 6px;
    background-size: 0%;
    transition:all 500ms cubic-bezier(0.23, 0.5, 0.32, 1);
    background-repeat: no-repeat;

    &:hover{
        background-size: 100%;
    }
}


/* main visual */

section:nth-of-type(1){
    background-color: #fff;
    color:white;
    margin:0 auto;
    height: 100vh;

.swiper-container {
        position: relative;
        width: 100%;
        height: 100%;
        .dim{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:99.6%;
        background-color: #000;
        opacity: 0.4;
        z-index:2;
    }
        .swiper-slide{
            position: relative;
            img, video{
                width:125%;
            }
            p{
                position: absolute;
                top: 45%;
                color: white;
                font-size: 45px;
                text-align: center;
                width: 100%;
                font-weight: bold;
                font-family: 'Sriracha', cursive;
                span{
                    font-family: initial;
                    width: 50%;
                    font-size: 20px;
                    line-height: 1.5em;
                    display: block;
                    margin: 20px auto;
                }

                button{
                    background: transparent;
                    border: 2px solid white;
                    padding: 10px 20px;
                    color: white;
                }
            }
        }
      }

      .swiper-button-prev{
          left:35px;
        }
        .swiper-button-next{
            right:35px;
        }
        
        
        .swiper-button-prev,
        .swiper-button-next{
        background-color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        transition: 0.3s;
       
      }

      .swiper-button-prev:hover,
      .swiper-button-next:hover{
          background-color: #000;
      }

      .swiper-button-prev:hover:after,
      .swiper-button-next:hover:after{
          color:#fff;
      }

      .swiper-button-prev:after,
      .swiper-button-next:after{
        color: #000;
        font-size: 14px;
        font-weight: bold;
      }

}


/* 3단 섹션 */

section:nth-of-type(2){
height:100vh;
> p{
    padding:80px;
    font-size: 46px;
    text-align: center;
    font-family: 'Sriracha', cursive;
    span{
        display: block;
        font-size: 20px;
    }
}

.cards{
    display:flex;
    align-items: center;
    justify-content: center;
    &.active{
        animation: showingFromRight 1.5s linear 1 both;
    }
    transform:translate3d(15%,0,0);
    opacity: 0;
    visibility: hidden;
    .card{
        display:inline-block;
        margin:0 15px;
        .img-container{
            width:370px;
            height: 500px;
            overflow: hidden;
            .image-section{
                width: inherit;
                height: inherit;
            }     
        }

        &:nth-child(1) .img-container .image-section,
        &:nth-child(2) .img-container .image-section,
        &:nth-child(3) .img-container .image-section
        {
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            transform:scale(1);
            transition:0.5s;
            &:hover{
                transform: scale(1.1)
            }
        }

        &:nth-child(1) .img-container .image-section{
            background-image: url(./images/ethical-buying.jpg);
         
        }
        &:nth-child(2) .img-container .image-section{
            background-image: url(./images/lush_made_in.jpg);
        }
        &:nth-child(3) .img-container .image-section{
            background-image: url(./images/blueberries.jpg);
        }

        p{
            font-size: 28px;
            text-align: center;
            span{
                display:block;
                font-size: 20px;
            }
        }
    }
}
}


/* 2단 */

section:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    .flex-container{
        display:flex;
        max-width: 1060px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 15px auto;
        width: 100%;
        &.active{
            animation: showingFromLeft 1.5s linear 1 both;
        }
        transform:translate3d(-20%,0,0);
        opacity: 0;
        visibility: hidden;
        &:first-child {
            > div{
                padding:20px 15px 0 0;
                width: 50%;
                span{
                    font-weight: 700;
                    &:before{
                        content: '';
                        width: 30px;
                        margin: 0 15px 5px 0;
                        height: 1px;
                        background-color: #000;
                        display: inline-block;
                    }
                }
            }
        }
        &:last-child > div{
            padding:0 50px;
            width: 50%;
            p{
                margin-bottom:30px;
            }
            a{
                font-size: 18px;
                text-decoration: underline #000;
                font-family: 'Sriracha', cursive;

            }
        }
        &:nth-child(1) .img-container .image-section{
            height: inherit;
            background-image: url(./images/store.jpg);
            background-size: cover;
        }
        &:nth-child(2) .img-container .image-section{
            height: inherit;
            background-image: url(./images/sumatra_-_coconut_oil.jpg);
            background-size: cover;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                top: -25px;
                left: -25px;
                background-image: url(./images/copy_of_argan_oil.jpg);
                height: inherit;
                width: 420px;
                z-index: -1;
            }
        }
        
    }

    div .img-container{
        width:500px;
        height: 380px;
    }

    h2{
        font-size: 44px;
        font-family: 'Sriracha', cursive;
    }
    p{
        font-size: 16px;
    }
}

/* best seller */

section:nth-of-type(4){
    height: 800px;
    width:100%;
    h3{
        text-align: center;
        margin-top: 79px;
        margin-bottom: 70px;
        font-size: 44px;
        font-family: 'Sriracha', cursive;
    }
    .swiper-container{
        max-width: 1320px;
        margin: 0 auto;
        .swiper-slide{
        padding:20px;
        height: 500px;
        .container{
            margin:0 auto;
            width:293px;
            height: 400px;
            button{
                border:1px solid black;
                background-color: transparent;
                padding: 12px 30px;
                position: absolute;
                bottom: 20%;
            }
            .item{
                img{
                    padding:0 47px;
                }
                .item-explain{
                    padding:0 10px;
                    >p{
                        font-weight: bold;
                        margin-top:0;
                        margin-bottom:4px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    >span{
                        font-size:15px;
                    }
                    .star{
                        font-family: 'Potta One', cursive;
                        span:last-child{
                        font-family: 'Rubik', sans-serif;
                        font-size: 12px;
                        margin-left:10px;
                        line-height: 24px;
                        vertical-align: middle;
                    }
                }
                .capacity{
                    margin:5px 0;
                    span{
                        margin-right: 3px;
                    }
                }
                }
            }
        }
        }
        .best-prev,
        .best-next{
            position: absolute;
            top:45%;
            width: 30px;
            height: 30px;
            cursor:pointer;
        }

        .swiper-button-disabled{
            display: none;
        }

        .best-prev{
            z-index:1;
            left:0;
            background-image: url(./images/arrow-left.png);
            background-size:cover;
        }
        .best-next{
            z-index:1;
            right:0;
            background-image: url(./images/arrow-right.png);
            background-size:cover;
        }

        
        .swiper-pagination-bullet{
         background: transparent;
         opacity: 1;
         border: 1px solid black;
        }
        .swiper-pagination-bullet-active {
            background-color: #000;
        }
    }
}

/* 3 section boxes */
section:nth-of-type(5){
    .group:first-child{
        width:100%;
        height: 900px;
        position: relative;
        .dim{
            width:inherit;
            height: inherit;
            position: absolute;
            background-color: #000;
            opacity: 0.4;
            transition: 0.3s;
        }
        .explain-container{
            position: absolute;
            width:inherit;
            height: inherit;
            display:table;
            .explain{
                display: table-cell;
                vertical-align: middle;
                padding: 0 60px;
                a{
                    position:absolute;
                    bottom:80px;
                    right:60px;
                
                }
            }
            span, a{
                font-weight: 700;
                color:rgb(255, 208, 0);
                background-color: #000;
                padding: 10px 20px;
            }
            h3,p{
                color:white;
            }
    
            h3{
                font-size: 35px;
            }
        }
    }

    .first, .second, .third{
        background-size: cover;
        width: 50%;
        &:hover .dim{
            opacity: 0.6;
        }
    }

    .first{
        background: url(./images/lush-animal.jpg) no-repeat;
        float: left;
        height: inherit;
    }
    .second{
        background: url(./images/freshest-cosmetics.jpg) no-repeat;
        float: right;
        height: 450px;
        background-size: cover;

    }
    .third{
        background: url(./images/March-images.jpg) no-repeat;
        background-size: cover;
        height: 450px;
        float: right;
    }

    .group:last-child{
        width: 100%;
        height: 750px;
        background-color: #140e23;
        display: table;
        >div{
            display:table-cell;
            vertical-align: middle;
        }
        h4{
            color: #fff;
            font-size: 30px;
            margin: 25px auto;
            max-width: 900px;
            font-family: "Sriracha", cursive;
            span{
            font-family: initial;
            display:block;
            font-size: 20px;    
            }
        }
        .items-container{
            display:flex;
            justify-content: center;
            .item{
                padding: 35px;
                margin: 0 20px;
                width: 280px;
                height: 310px;
                border-radius: 5%;
                color: #fff;
                background-color: #598383;
                cursor:pointer;
                >span{
                    display: inline-block;
                    margin-bottom: 60px;
                    font-family: "Sriracha", cursive;
                    text-align: center;
                    line-height: 1em;
                    position: relative;
                    border-top: 2px solid white;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid white;
                }
                p {
                    font-size: 23px;
                    word-break: break-all;

                    span{
                        text-transform: uppercase;
                        display: block;
                        color: #FFC107;
                        font-size: 16px;
                        padding: 2px 10px;
                    }
                }
                &:nth-child(1){
                    background-image:url(./images/vegan_perfumes_all_2019_0.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(2){
                    background-image: url(./images/massage_.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(3){
                    background-image:url(./images/sleeping_giant_bombshell_bath_bomb.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}


/* Our Partners */
section:nth-of-type(6){
height:60vh;
background-image:url(./images/dotted.png);
background-position: 50% 50%;
h2{
    padding-top: 10vh;
    padding-bottom: 40px;
    text-align: center;
    font-size: 45px;
    margin: 0;
    font-family: 'Sriracha', cursive;
}

.swiper-container{
    .swiper-slide{
        padding:30px;
        .container{
            cursor:pointer;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            margin:0 auto;
            height: 250px;
            position: relative;
            border-radius: 5px;
            .img-container{
                width:100%;
                height: 100%;
                border-radius: 5px;
                overflow: hidden;
                img{
                border-radius: 5px;
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p{
                position: absolute;
                color: white;
                top: 40%;
                font-size: 35px;
                left: 0;
                right: 0;
                text-align: center;
                margin: 0;
                font-weight: bold;
            }
        }
}
}
}

/* instagram */
section:nth-of-type(7){
    display: table;
    width:100%;
    height:610px;
    >div{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .instagram-pictures{
            display:flex;
            justify-content: center;
            .picture{
                display:inline-block;
                overflow: hidden;
                cursor:pointer;
                width:230px;
                height: 230px;
                margin:10px;
            }
        }
    }
}

/* footer */
footer{
width: 100%;
height: 330px;
.footer-top{
    width: inherit;
    height: 250px;
    margin:0 auto;
    >div{
        max-width: 1250px;
        margin:0 auto;
        .subscription{
                width: 60%;
                height: inherit;
                box-sizing: border-box;
                float:left;
                padding:10px 20px;
                p{
                    font-size: 34px;
                    margin:30px 0;
                }
                form{
                    position: relative;
                    padding-right:20px;
                    max-width: 500px;
                    input[type=email]{
                        width: 100%;
                        padding:10px;
                        outline: none;
                        border-bottom: 1px solid black;
                        border-left: none;
                        border-right: none;
                        border-top: none;
                    &::placeholder{
                        font-size: 16px;
                    }
                    }
                    button{
                        position: absolute;
                        background-color: transparent;
                        border: none;
                        top: 10px;
                        right: 0;
                        i{
                            font-size: 20px;
                        }
                    }
        
                }
            }
    }
 
    .links{
        width:40%;
        height: inherit;
        box-sizing: border-box;
        float:right;
        a{
            display:block;
            line-height: 35px;
            font-size:17px;
        }
        div:first-child{
            float: left;
            width: 50%;
            height: inherit;
            padding: 20px 10px;
        }
        div:last-child{
            padding: 20px 10px;
            width: 50%;
            float:right;
            height: inherit;
        }
    }
}
.footer-bottom{
    border-top: 1px solid #d3cece;
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    width: 100%;
    font-size: 13px;
    >span{
        width: 50%;
    }
    .sns{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    .links{
        a{
    font-size: 16px;

            display:inline-block;
            margin:0 8px;
        }
    }
    }
}
}


/* animation */
@keyframes showingFromRight{
    50%{
    transform:translate3d(10%,0,0);
    opacity: 0.5;
    visibility: visible;
    }
    100%{
    transform:translate3d(0,0,0);
    opacity: 1;
    visibility: visible;
    }
}

@keyframes showingFromLeft{
    50%{
    transform:translate3d(-10%,0,0);
    opacity: 0.5;
    visibility: visible;
    }
    100%{
    transform:translate3d(0,0,0);
    opacity: 1;
    visibility: visible;
    }
}


@keyframes pulse{
    50% {
        background-position: 0.66em 0.66em, -0.33em -0.33em;
    }
    
    100% {
        background-size: 2em 2em, 1em 1em;
        background-position: -1.5em -1.5em, -1em -1em;
    }
}

@media (max-width: 1024px){
header{
.left-nav,
.right-nav{
    display:none;
}
.header-container{
    position:relative;
    .hamburger{
        display: block;
        position: absolute;
        right: 55px;
        top: 35%;
        span{
            position:absolute;
            &:nth-child(1){
                top:25%;
                left:0;
            }
            &:nth-child(2){
                bottom:25%;
                left:0;
            }
        }
    }
}
}
}